<section class="form">
    <form action="" id="form" class="d-flex align-items-end justify-content-center gap-4 mt-5">
        <div>
            <input type="text" name="idProducto" id="idProducto" value="">
        </div>
        <div>
            <label class="label-form" for="">Nombre</label>
            <input id="nombre" name="nombre" class="control-form" type="text">
        </div>
        <div>
            <label class="label-form" for="">Apellido Paterno</label>
            <input id="precio" name="apellidoPaterno" class="control-form" type="text">
        </div>
        <div>
            <label class="label-form" for="">Apellido Materno</label>
            <input id="stock" name="apellidoMaterno" class="control-form" type="text">
        </div>
        <div>
            <label class="label-form" for="">Fecha de nacimiento</label>
            <input id="stock" name="fechaDeNacimiento" class="control-form" type="text">
        </div>
        <div>
            <label class="label-form" for="">Genero</label>
            <input id="stock" name="genero" class="control-form" type="text">
        </div>
        <div>
            <label class="label-form" for="">Correo electronico</label>
            <input id="stock" name="correo" class="control-form" type="text">
        </div>
        <div>
            <label class="label-form" for="">Telefono</label>
            <input id="stock" name="telefono" class="control-form" type="text">
        </div>
        <div>
            <label class="label-form" for="">Calle</label>
            <input id="stock" name="direccion.calle" class="control-form" type="text">
        </div>
        <div>
            <label class="label-form" for="">Telefono</label>
            <input id="stock" name="direccion.colonia.combreColonia" class="control-form" type="text">
        </div>
        <div>
            <button class="btn btn-success">Enviar</button>
        </div>
    </form>
</section>